<div data-ng-controller="ClaimController as vm" class="form-horizontal">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 form-inline">
            <h2>{{title}}</h2>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 form-inline">
            <label for="selectPet">Make a claim for your pet</label>
            <select name="selectPet" ng-model="selectedPet" ng-change="updateSelected()" id="selectPet" class="form-control input-normal">
                <option></option>
                <option ng-repeat="option in pets" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 form-inline">
            <label ng-show="selectedPet">Attach {{selectedPetName}}'s invoice for us here</label>
            <div ng-show="selectedPet" class="dropzone"  options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <input ng-disabled="!selectedPet" ng-click="submit()" type="submit" class="btn btn-primary" value="Submit"/>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>